accelerate==0.31.0
albumentations==2.0.8
bitsandbytes==0.46.1
datasets==3.2.0
diffusers==0.25.0
einops==0.8.1
face_alignment==1.4.1
gradio==5.38.2
huggingface_hub==0.23.4
lpips==0.1.4
matplotlib==3.8.0
numpy==1.24.4
numpy==1.22.2
omegaconf==2.3.0
open_clip_torch==2.24.0
opencv==4.7.0
opencv_python_headless==4.10.0.84
packaging==25.0
Pillow==9.2.0
Pillow==11.3.0
pycocotools==2.0+nv0.7.3
pytorch_lightning==2.3.0
Requests==2.32.4
safe_open==0.2.1
safetensors==0.5.3
scipy==1.16.1
skimage==0.0
timm==1.0.19
torch==2.1.0a0+32f93b1
torchvision==0.16.0a0
tqdm==4.66.4
tqdm==4.66.1
transformers==4.44.2
wandb==0.21.0
xformers==0.0.31.post1
